.head_sec li.nav-item {
   
    padding: 0 10px 0 10px;
}

.head_sec {
    padding:10px 0 10px 0;
}

.head_sec .nav-link {
    padding: 5px 25px;
    border: 3px solid #00910d;
}

.btn{

    /* color: var(--bs-btn-hover-color); */
    /* background-color: var(--bs-btn-hover-bg); */
    /* border-color: var(--bs-btn-hover-border-color); */
}

.dropdown-menu.show {
    
    top: 5px !important;
    background: #fff;
   
    padding: 20px 10px;
}



.dropdown-divider {
    
    display: none;
}

img.setting_pro_imgpro {
    /* background-color: #fff; */
    width: 40px;
  
    /* float: inline-end; */
}

