.order_tool_first {
    /* background-color: #212529 !important; */
    /* color: aliceblue; */
    height: 795px;
    border: 5px solid green;
    padding: 20px 7px;
}

button.btn_indx1 {
    margin: 0 20px 0 0;
    border: 3px solid hsl(216, 46%, 46%);
    padding: 0px 25px;
}

button.btn_indx {
    margin: 0 20px 0 0;
    border: 3px solid #cd4c4c;
    padding: 0px 25px;
}

button.btn_setlot1 {
    margin: 0 0px 0 0;
    border: 4px solid yellow;
    padding: 0px 25px;
    color: red;
    font-weight: 600;
}

button.btn_setlot {
    margin: 0 20px 0 0;
    border: 3px solid #56cb71;
    padding: 0px 20px;
}

button.btn_setlot_limit {
    margin: 0 20px 0 0;
    border: 3px solid #56cb71;
    padding: 0px 27px;
}

button.btn_setlot_limit44 {
    margin: 0 20px 0 0;
    border: 3px solid #56cb71;
    padding: 0px 35px;
}



button.btn_setlot_exit {
    margin: 0 0px 0 0;
    border: 3px solid yellow;
    padding: 0px 27px;
}




button.btn_setlot33 {
    margin: 0 20px 0 0;
    border: 3px solid #cd4c4c;
    padding: 0px 29px;
}

button.btn_setlot3333 {
    margin: 0 20px 0 0;
    border: 3px solid #cd4c4c;
    padding: 0px 15px;
}

button.btn_strike {
    border: 3px solid hsl(216, 46%, 46%);
    margin: 0 0px 0 0;
    padding: 0px 10px;
    font-size: 10px;
}

button.btn_putstrike {
    border: 3px solid hsl(216, 46%, 46%);
    margin: 0 0px 0 0;
    padding: 0px 10px;
    font-size: 10px;
}

b.bold {
    font-size: 15px;
    color: #93cf38;
}

b.bold2 {
    font-size: 15px;
    color: red;
}


button.btn_ltp {
    border: 3px solid #fff;
    margin: 0 0px 0 0;
    padding: 0px 10px;
}

.col-6.buyy {
    padding-top: 25px;
}

.message {
    border: 3px solid hsl(216, 46%, 46%);
    height: 132px;
    margin-top: 15px;
}

p.commit_p {
    padding: 10px;
    text-align: center;
    color: rgb(29, 157, 17);
    font-weight: 600;
}

.notiii {
    margin-top: 53px;
    border: 3px solid yellow;
}

.col-6.order_book {
    padding-top: 54px;
    padding-left: 70px;
}

button.order_bokbtn {
    border: 3px solid yellow;
    padding: 0px 5px;
    /* margin-right: 10px; */
}

button.Discla_btn {
    border: 3px solid yellow;
    padding: 0px 20px;
    margin-left: 4px;
}

p.broker {
    border: 3px solid;
    padding: 5px;
}

button.Realize_btn {
    border: 3px solid;
    padding: 30px;
}

button.Realize_btn {

    border: 4px solid green;
    padding: 30px;
    float: initial;
    margin-left: -126px;
    margin-top: -140px;
}

button.btn_trail_strt {
    border: 3px solid #3f6aab;
    padding: 0px 17px;
    margin-top: 30px;
}



button.btn_indx_limit22 {
    /* margin: 0 20px 0 0; */
    border: 3px solid hsl(216, 46%, 46%);
    padding: 0px 25px;
    float: right;
    margin-right: 40px;

}

button.btn_default {
    /* margin: 0 20px 0 0; */
    border: 3px solid hsl(216, 46%, 46%);
    padding: 0px 22px;
    float: right;
    margin-right: 9px;
    margin-top: 25px;

}

h5.flas_mode {
    padding-bottom: 15px;
}

p.countting {
    padding-left: 0px;
    /* border: 2px solid; */
    background: #fff;
    padding: 0px 20px;
    color: #000;
}

button.btn_trail_strt22 {

    margin-left: 106px;
    background-color: green;
    padding: 0px 20px;

}

button.btn_indx_limit33 {
    background-color: #cd4c4c;
    padding: 0px 20px;
}

.buyy22 {
    padding-top: 10px;
}

img.home_img {
    width: 40px;
    float: inline-end;
    background: #fff;
}

button.home_bottn {
    float: inline-end;
    border: 3px solid green;
    padding: 3px 10px;
}


/* .col-12.white_bor {
    border-right: 4px solid;
    height: 701px;
} */

/* Devices css */
@media screen and (min-device-width: 280px) and (max-device-width: 767px) {}

/* tablet css */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {}