section.setting_sec {
    border: 2px solid red;
    padding: 15px;
    /* background-color: #212529;
    color: #fff; */
    margin: 10px;
}

.clas {
    border: 3px solid blue;
    /* background-color: #212529; */
    padding-top: 10px;
}

section.third_setting {
    border: 5px solid;
    padding: 30px;
    margin-top: 50px;
}

/* setting css */

button.appli_btn {
    border: 3px solid blue;
    padding: 0px 10px;
    /* color: #fff; */
    margin-right: 20px;
}

.prosetting_btn {
    border: 3px solid blue;
    padding: 3px 10px;
    /* color: #fff; */
}

img.setting_pro_img {
    /* background-color: #fff; */
    width: 50px;
    float: inline-end;
}



button.money_reset_btn {
    background: rgb(57, 57, 241);
    color: #fff;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: 500;
}

.div_form {
    display: flex;
    text-align: justify;
    /* align-items: flex-end; */
    border: 1px solid;
    padding: 45px;
    margin-top: 50px;
}

.form-check.form-switch {
    padding: 0px 16px 17px 26px;
}

button.rs_btn {
    border: 2px solid green;
    padding: 3px 67px;
    color: red;
    font-weight: 600;
}

.col-6.max_day {
    padding-top: 40px;
}

button.btn_atm {
    border: 2px solid green;
    padding: 3px 36px;
    margin: 0 10px;
}

button.btn_itm {
    border: 2px solid red;
    padding: 3px 35px;

}

section.third_setting {
    /* color: #fff; */
}

button.save_broker_btn {
    /* float: inline-end; */
    border: 3px solid rgb(60, 234, 60);
    margin-left: 155px;
    margin-top: 30px;
    color: green;
    font-weight: 700;
    width: 127px;
}


.main_div_broker {
    border: 1px solid #5a5757;

}

.first_col {
    border-right: 1px solid #5a5757;
    padding: 5px;
    padding-top: 24px;
    line-height: 18px;
}

.main_div_broker p {

    padding: 10px 0;
    font-size: 14px;

}

.sec_broker_col {
    padding: 20px;
}

.broker_p {
    color: #e62424;
    /* font-size: 24px; */
    padding-bottom: 20px;
}

.col-6.main_div {
    border: 1px solid #fff;
    padding: 20px;
}




/* Devices css */
@media screen and (min-device-width: 280px) and (max-device-width: 767px) {
    button.appli_btn {
        padding: 0px 1px;
        margin-right: 3px;
        margin-top: 10px;
    }

    prosetting_btn {
        padding: 3px 6px;
    }

    button.money_reset_btn {
        background: rgb(57, 57, 241);
        color: #fff;
        padding: 0px 3px;
    }

    .col-6.max_day {
        padding-top: 40px;
        padding-left: 2px;
    }

    button.rs_btn {
        padding: 2px 30px;
    }

    button.btn_itm {
        padding: 2px 3px;
    }

    button.btn_atm {
        padding: 2px 3px;
        margin: 0 10px;
    }

    p.atm_para {
        font-size: 15px;
    }

    .main_div_broker p {
        padding: 10px 0;
        font-size: 13px;
    }

    .sec_broker_col {
        padding: 5px;
        padding-top: 21px;
    }

    button.save_broker_btn {
        margin-left: 15px;
        margin-top: 30px;
        width: 100px;
    }

    .broker_p {
        padding-bottom: 10px;
    }

    .col-12.main_div {
        border: 1px solid;
        padding: 16px;
        margin-top: 20px;
    }

}

/* tablet css */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    button.rs_btn {
        padding: 3px 30px;

    }

    .col-6.max_day {
        padding-top: 31px;
        margin: 5px;
    }

    button.btn_atm {
        padding: 2px 12px;
        margin: 0 5px;
    }

    button.btn_itm {
        padding: 2px 12px;
    }

    button.save_broker_btn {
        margin-left: 0px;
        width: 100px;
    }


}

@media only screen and (max-width: 600px) {

    th,
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: center;
    }
}