/*  */
 :root {
    --background-light: #ffffff;
    --background-dark: #070202;
    --text-light: #080707;
    --text-dark: #ffffff;
}

.light {
    /* background-color: var(--background-light); */
    color: var(--text-light);
}

.dark {
    /* background-color: var(--background-dark); */
    color: var(--text-dark);
} 


